.App {
  text-align: center;  
}

.Logo {
  height: 40vmin;
  pointer-events: none;
  padding: 5vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom right, #76e7f9,#ef6e95) !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gsc-control-cse {
  background-color: transparent !important;
  border-color: transparent !important;
  padding: 20px !important;
  border-radius: 8px !important;
  /* box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1) !important; */
}
.gsc-search-box, .gsc-input-box, .gsc-search-button-v2, .gsc-input, .gsc-resultsbox-visible, .gs-snippet  {
  background-color: transparent !important;
  border-radius: 100px !important;
  border-color: transparent;
}
.gsce-searchbox-only {
  display: flex !important;
  justify-content: center !important;
  margin-top: 20px !important;
  background-color: transparent !important;
  height: 50px !important;
}
.gsc-search-box {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.gsc-input {
  width: 25vw !important;
  padding: 0.5vw !important;
  font-size: calc(4px + 2vmin) !important;
  color: #333 !important;
  box-shadow: none !important;
  background-image: linear-gradient(to bottom right, #fcf2be,#f57fad) !important;
}

.gsc-search-button-v2 {
  width: 10vw !important;
  height: 5vw !important;
  background-image: radial-gradient(circle, #bd87d1, #1f2568) !important;
  color: white !important;
  font-weight: bold !important;
  border-radius: 100px !important;
  padding: 10px 20px !important;
}

.gsc-search-button-v2:hover {
  background-image: radial-gradient(circle, #bd87d1, #2d398a) !important;
}
.gsc-resultsbox-visible {
  width: 80% !important;
  margin: 0 auto !important;
  padding: 20px !important;
  border-radius: 100px !important;
  background-color: #ddd !important;
}
.gsc-webResult {
  border-bottom: 1px solid #f0f0f0 !important;
  border-radius: 100px !important;
  padding: 15px auto !important;
  background-color: transparent !important;
}
.gsc-webResult a.gs-title {
  color: #1a0dab !important;
  font-size: calc(4px + 2vmin) !important;
  font-weight: bold !important;
  text-decoration: none !important;
  background-color: transparent !important;
  border-radius: 100px !important;
}
.gsc-webResult a.gs-title:hover {
  text-decoration: dotted underline !important;
  background-color: transparent !important;
  border-radius: 100px !important;
}
.gs-snippet {
  color: #4d5156 !important;
  background-color: transparent !important;
  font-size: calc(4px + 2vmin) !important;
  line-height: 1.5 !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}